<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css"
          rel="stylesheet">
    <link th:href="@{/css/integrated-css.css}"
          href="../static/css/integrated-css.css"
          rel="stylesheet">
    <title>이케이투어 관리자</title>
  </head>
</th:block>
</html>