<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="mainFragment">

<article class="col-10">
  <h5>견적 요청 내역</h5>
  <hr>
  <form th:action="@{/admin/search}" th:object="${adminSearchForm}" method="POST" style="display: flex; justify-content: flex-end; padding: 10px 0;">
    <input type="date" th:field="*{start}" id="startDate">
    ~
    <input type="date" th:field="*{end}" id="endDate">
    <select th:field="*{searchType}">
      <option value="name">요청자</option>
      <option value="phone">연락처</option>
    </select>
    <input th:field="*{keyword}" type="text" placeholder="검색어를 입력하세요."/>
    <input type="submit" value="검색"/>
  </form>

  <div class="table-responsive">
    <table class="table table-striped table-hover" style="table-layout: fixed">
      <thead class="table-light">
      <tr>
        <th scope="col" style="width: 50px;">번호</th>
        <th scope="col">요청자</th>
        <th scope="col">연락처</th>
        <th scope="col">여행구분</th>
        <th scope="col">출발일</th>
        <th scope="col">도착일</th>
        <th scope="col">출발지</th>
        <th scope="col">도착지</th>
        <th scope="col">차량구분</th>
        <th scope="col">요청일</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="e: ${eList}"
          th:onclick="|location.href='@{/admin/estimate/{estimateId}(estimateId = ${e.id})}'|"
          style="cursor: pointer;">
        <td th:text="${e.id}"></td>
        <td th:text="${e.name}"></td>
        <td th:text="${e.phone}"></td>
        <td th:text="${e.travelType}"></td>
        <td th:text="${e.departDate}"></td>
        <td th:text="${e.arrivalDate}"></td>
        <td th:text="${e.departPlace}"></td>
        <td th:text="${e.arrivalPlace}"></td>
        <td th:text="${e.vehicleType}"></td>
        <td th:text="${e.createdDate}"></td>
        </form>
      </tr>
      </tbody>
    </table>
    <th:block th:replace="fragments/pageNavBar :: pageNavBar"></th:block>
  </div>
</article>

</th:block>
</html>