<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css"
          rel="stylesheet">
    <link th:href="@{/css/integrated-css.css}"
          href="../static/css/integrated-css.css"
          rel="stylesheet">
    <title>이케이투어 관리자</title>
    <style>
        .wrapper { width: 450px; padding: 10px; margin-bottom: 20px; }
        td input { width: 300px; }
        table { vertical-align: middle; }
        td { width: 124px; }
    </style>
</head>

<body style="background-color: #e5e5e5;">

<!-- header -->
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<div class="container">
    <!--top bar-->
    <th:block th:replace="fragments/topBar :: topBarFragment"></th:block>

    <div class="row row-cols-auto">
        <!-- side menu (back to main) -->
        <div class="col-2" style="padding: 0px;">
            <nav class="list-group" >
                <a href="mainPage.html" th:href="@{/admin}"
                   class="list-group-item list-group-item-action">견적요청내역</a>
                <a href="#" class="list-group-item list-group-item-action active">관리자 설정</a>
            </nav>
        </div>

        <!-- content -->
        <article class="col-10">
            <h5>관리자 설정</h5>
            <hr>
            <div class="wrapper">

                <form class="wrapper" th:action="@{/admin/logo}" method="POST" enctype="multipart/form-data">
                    <h6>회사 로고 변경</h6>
                    <input type="file" name="file" class="form-control mb-2"/>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit" onclick="alert('회사 로고를 변경합니다.')">업로드</button>
                    </div>
                </form>

                <form class="wrapper" th:action="@{/admin/setting/info}" method="POST"
                      th:object="${infoForm}">
                    <h6>회사 정보 변경</h6>
                    <table class="table" style="vertical-align: middle;">
                        <tbody>
                        <tr><td>대표</td><td>
                            <input type="text" th:field="*{adminName}"
                                   th:value="${infoForm.adminName}" value="대표"></td></tr>
                        <tr><td>개인정보취급자명</td><td>
                            <input type="text" th:field="*{infoHandlerName}"
                                   th:value="${infoForm.infoHandlerName}" value="개인정보취급자명"></td></tr>
                        <tr><td>사업자번호</td><td>
                            <input type="text" th:field="*{businessNum}"
                                   th:value="${infoForm.businessNum}" value="사업자번호"></td></tr>
                        <tr><td>법인등록번호</td><td>
                            <input type="text" th:field="*{registrationNum}"
                                   th:value="${infoForm.registrationNum}" value="법인등록번호"></td></tr>
                        <tr><td>일반여행업등록법인</td><td>(국내여행/해외여행)</td></tr>
                        <tr><td>주소</td><td>
                            <input type="text" th:field="*{address}"
                                   th:value="${infoForm.address}" value="주소"></td></tr>
                        <tr><td>대표전화</td><td>
                            <input type="text" th:field="*{tel}"
                                   th:value="${infoForm.tel}" value="대표전화"></td></tr>
                        <tr><td>팩스</td><td>
                            <input type="text" th:field="*{fax}"
                                   th:value="${infoForm.fax}" value="팩스"></td></tr>
                        <tr><td rowspan="2">버스대절/여행 문의</td><td>
                            <input type="text" th:field="*{phone}"
                                   th:value="${infoForm.phone}" value="휴대폰번호"></td></tr>
                        <tr><td>
                            <input type="text" th:field="*{email}"
                                   th:value="${infoForm.email}" value="이메일"></td></tr>
                        <tr><td>은행명</td><td>
                            <input type="text" th:field="*{accountBank}"
                                   th:value="${infoForm.accountBank}" value="은행명"></td></td></tr>
                        <tr><td>계좌번호</td><td>
                            <input type="text" th:field="*{accountNum}"
                                   th:value="${infoForm.accountNum}" value="계좌번호"></td></tr>
                        <tr><td>예금주</td><td>
                            <input type="text" th:field="*{accountHolder}"
                                   th:value="${infoForm.accountHolder}" value="예금주"></td></tr>
                        <tr><td>카톡아이디</td><td>
                            <input type="text" th:field="*{kakaoTalkId}"
                                   th:value="${infoForm.kakaoTalkId}" value="카톡아이디"></td></tr>
                        </tbody>
                    </table>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit" onclick="alert('회사 정보를 변경합니다.')">변경</button>
                    </div>
                </form>

                <form class="wrapper" th:action="@{/admin/setting/password}" method="POST"
                    th:object="${pwForm}">
                    <h6>관리자 비밀번호 변경</h6>
                    <table class="table" style="vertical-align: middle;">
                        <tbody>
                        <tr><td>현재 비밀번호</td><td>
                            <input type="password" th:field="*{nowPassword}"></td></tr>
                        <tr><td>새 비밀번호</td><td>
                            <input type="password" th:field="*{newPassword}"></td></tr>
                        <tr><td>새 비밀번호 확인</td><td>
                            <input type="password" th:field="*{newPasswordCheck}"></td></tr>
                        </tbody>
                    </table>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit" onclick="alert('관리자 비밀번호를 변경합니다.')">변경</button>
                    </div>
                </form>
            </div>
        </article>

    </div>
</div>

<!-- footer -->
<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</body>

</html>